.account {
    background-color: var(--primary);
    border-top-left-radius: 100%;
}

.orders {
    background-color: rgb(50, 190, 255);
    border-top-right-radius: 100%;
}

.settings {
    background-color: rgb(50, 190, 255);
    border-bottom-left-radius: 100%;
}

.help {
    background-color: var(--primary);
    border-bottom-right-radius: 100%;
}

.account,
.orders,
.settings,
.help {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 0px 4px rgb(78, 78, 78);
    color: white;
}

.account:hover,
.help:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.orders:hover,
.settings:hover {
    cursor: pointer;
    background-color: rgb(0, 162, 255);
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(2, 0fr);
    position: relative;
}

.profile-image-center {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgb(78, 78, 78);
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    font-size: 2.5rem;
    font-weight: 800;
}

@media (max-width:968px) {

    .account,
    .orders,
    .settings,
    .help {
        width: 110px;
        height: 110px;
        font-size: 0.7rem;
        font-weight: 500;
    }

    .profile-image-center {
        width: 75px;
        height: 75px;
        min-height: 75px;
        min-width: 75px;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .profile-section {
        margin: 80px 0px 0px 0px;
    }
}