.waysContact {
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  padding: 10px;
}

.contactImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 0px auto;
}

.contactImage img {
  width: 400px;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.emailHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.faqHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.chatHeader>img {
  height: 50px;
}

.emailHeader>img {
  height: 50px;
}

.faqHeader>img {
  height: 50px;
}

.contactItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 0px 20px;
  flex-wrap: wrap;
  gap: 60px;
}

.contactItem {
  background-color: var(--itemColor);
  border: none;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
  max-width: 550px;
}

.contactItemChat {
  background-color: var(--itemColor);
  border: none;
  border-radius: 5px;
  padding: 30px;
  max-width: 400px;
}

.contactItemChat>button {
  border: none;
  border-radius: 8px;
  margin: 10px 0px 0px 0px;
  padding: 10px;
  background-color: var(--primary);
  color: var(--white);
}

.contactItemChat>button:hover {
  cursor: pointer;
  background-color: var(--hover);
  transition: 0.2s ease-in-out;
}

@media (max-width:768px) {
  .contactItems {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    gap: 20px;
  }

  .categoriesProfile {
    margin: 10px 0px 0px 20px;
  }

  .categoriesProfile ul li {
    padding: 5px;
    width: 85px;
  }

  .contactImage img {
    width: 300px;
  }

  .contactImage {
    margin: 50px 0px 0px 60px;
  }
}