.item-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px 25px;
    width: 600px;
    height: auto;
    z-index: 1000;
}

.item-image img {
    width: 200px;
}

.item-image h4 {
    color: black;
    margin: 0px 0px 30px 0px;
    flex-wrap: wrap;
}

.item-image p {
    color: black;
    font-weight: 800;
    font-size: 1.1rem;
    margin: 20px 0px 20px 40px;
}

.item-image {
    border-right: 2px solid var(--black);
}

.item-content {
    margin-left: 20px;
}

.item-content h4 {
    color: black;
}

.item-content p:nth-child(2) {
    margin: 15px 0px 40px 0px;
    color: var(--black);
    font-size: 0.9rem;
}

.content-buttons {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 10px;
    gap: 60px;
}

.content-buttons button:nth-child(1) {
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--white);
    padding: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--black);
}

.content-buttons button:nth-child(2) {
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 42, 42);
    color: var(--white);
    padding: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--black);
}

.content-buttons button:nth-child(1):hover {
    background-color: var(--hover);
}

.content-buttons button:nth-child(2):hover {
    background-color: rgb(213, 0, 0);
}

.popup-message {
    position: absolute;
    width: 180 px;
    right: 10px;
    bottom: 50px;
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 0.9rem;
    box-shadow: 0px 0px 5px var(--black);
    color: var(--white);
    background-color: rgb(0, 177, 0);
}

@media (max-width:768px) {
    .item-details {
        width: 300px;
        height: 800px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
    }

    .item-image {
        border-right: none;
        border-bottom: 2px solid var(--black);
    }

    .item-image h4 {
        color: black;
        margin: 0px 0px 15px 0px;
        flex-wrap: wrap;
    }

    .item-content {
        margin: 20px 0px 0px 0px;
    }

    .content-buttons {
        margin-top: 10px;
    }


    .item-content p:nth-child(2) {
        margin: 10px 0px 0px 0px;
        font-size: 0.9rem;
    }
}