.accountContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 20px 0px 0px;
    gap: 60px;
    font-size: 1.4rem;
}

.recentOrders, .recentViews{
    text-align: flex-start;
    /* background-color: rgb(208, 208, 208); */
    width: 650px;
    height: 450px;
    border: 2px solid rgb(208, 208, 208);
    box-shadow: 0px 0px 5px rgb(208, 208, 208);
    border-radius: 10px;
    padding: 10px;
}

.recentOrders p:nth-child(2){
    text-align: center;
    margin: 175px 0px 0px 0px;
    font-size: 1rem;
}

.recentItems{
    display: grid;
    grid-auto-flow: column;
    margin: 35px 15px 0px 15px;
    width: 100px;
    height: auto;
    gap: 5px;
}

.recentViews{
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
}

.recentViews > p{
    position: absolute;
}

@media (max-width:968px){
    .accountContainer{
        font-size: 1.1rem;
    }

    .recentOrders p:nth-child(2){
        font-size: 0.75rem;
        margin: 105px 0px 0px 0px;
    }   

    .recentViews{
        margin: 0px 10px 0px 10px;
        width: 350px;
        height: 330px;
    }

    .recentOrders{
        margin: 0px 10px 0px 10px;
        width: 350px;
        height: 250px;
    }
}