* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: transform 0.6s;
}

.brand-title {
  font-size: 1.9rem;
  margin: 8px;
  cursor: pointer;
  font-weight: 700;
}

.brand-title a {
  color: var(--primary)
}


.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 15%;
  min-width: 150px;
}

.search>input {
  border: none;
  outline: none;
  border-radius: 18px;
  padding: 10px;
  background-color: white;
  font-size: 1rem;
  flex-grow: 1;
  width: 15%;
  min-width: 100px;
}

.search-button {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0px 0px 0px 4px;
  padding: 2px;
  background-color: white;
}

.search-button:hover {
  cursor: pointer;
  background-color: var(--primary) !important;
  color: white;
}

.search-button>img {
  width: 25px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  cursor: pointer;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display: flex;
  /* TEST DISPLAY BLOCK */
}

.navbar-links li button {
  text-decoration: none;
  padding: 1rem;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-links img {
  width: 23px;
  height: 23px;
}

.navbar-links li:hover {
  background-color: var(--primary);
}

.navbar-links li:hover a {
  color: white !important;
}

.navbar-links li:hover>button>img,
.navbar-links li:hover>a>img {
  filter: var(--whiteFilter) !important;
}

#slider-button:hover {
  background-color: transparent;
}

.toggle-button {
  position: absolute;
  /*! here*/
  top: 10px;
  /*! here*/
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.item-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  z-index: 1;
  position: relative;
  left: -8px;
  top: -10px;
  font-size: 0.8rem;
}

.item-counter.active-items {
  visibility: hidden;
}

@media (max-width:768px) {
  .toggle-button {
    display: flex;
  }

  .item-counter {
    position: absolute;
    top: 0px;
    left: 50%;
  }

  /* .search{
    height: 30px;
    margin-right: 20px;
  }

  .search-button{
    width: 28px;
    height: 28px;
  }

  .search-button img{
    width: 18px;
  } */

  .brand-title {
    font-size: 1.4rem;
  }

  /*? */
  .navbar-links {
    display: none;
    width: 100%;
  }

  /*! prob */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  /* ? */
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    /* position1 */
  }

  .navbar-links li a {
    padding: 8px 16px;
  }

  .navbar-links li button {
    padding: 8px 16px;
  }

  .navbar-links.active {
    display: flex;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: var(--white);
}