.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}


.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    gap: 80px;
    margin: 5px 0px 5px 15px;
    padding: 5px;
}

.nav-container .logo a{
    color: var(--primary);
    font-size: 2.4rem;
    font-weight: 600;
}

.right-side-nav a {
    color: var(--black);
}

.links a{
    color: var(--primary);
    font-weight: 500;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
  }

  .nav-close-btn{
    color: white;
  }

.login:hover, .register:hover{
  color: var(--primary);
}

.login-register{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.login-register a img{
  width: 30px;
}

.login-register a img:hover{
  filter: invert(36%) sepia(72%) saturate(1904%) hue-rotate(197deg) brightness(100%) contrast(91%);
}

  

@media (max-width:1168px){
    .links{
        gap: 20px;
    }
}

@media (max-width:1024px){
    .nav-container .logo a{
        font-size: 1.9rem;
    }

    .nav-btn {
        visibility: visible;
        opacity: 1;
        font-size: 1.3rem;
      }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--primary);
        transform: translateX(100vh);
        position: fixed;
        top: 0;
        right: 0;
        margin: 0px auto 0px auto;
        height: 100%;
        width: 35vw;
        z-index: 2;
        font-size: 0.575rem;
        gap: 30px;
      }

      .links a{
        color: white;
        font-size: 1rem;
        margin: 20px auto 0px auto;
      }

      .responsive-nav{
        transform: none;
      }

      .login-register{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .login-register a img,.login-register a img:hover{
        filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(50deg) brightness(112%) contrast(112%);
      }
}

@media (max-width:1024px){
    .nav-container .logo a{
        font-size: 1.4rem;
    }

    .right-side-nav a {
       font-size: 0.8rem;
    }

    .right-side-nav{
        inline-size: 55px;
        min-width: 55px;
        word-break:break-all;
    }
}


a:link{
    text-decoration: none;
  }
  
  a:visited{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
  a:active{
    text-decoration: none;
  }
  
  a{
    color:var(--white);
  }