.productsContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .products-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .products-header-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(88, 88, 88);
    margin: 50px 0px 0px 120px;
  }
 
  .categories{
    width: 80%;
    height: 380px;
    background-color: var(--itemColor);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 4px  rgb(104, 104, 104);
    padding: 10px 15px 10px 15px;
    margin: 10px;
    min-width: 100px;
  }
  
  .categories h3 {
    color: var(--black);
  }
  
  .categories ul, .categoriesProfile ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
  }
  
  .categories li, .categoriesProfile li{
    border: none;
    border-radius: 5px;
    padding: 7px;
    color: var(--black);
  }
  
  .categories li:hover, .categoriesProfile li:hover{
    color: var(--secondary);
    background-color: var(--primary);
    cursor: pointer;
  }

  .categoriesProfile li:hover > img {
    filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(50deg) brightness(112%) contrast(112%);
  }

  /*? New Button */
  .categ-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
  }

  @media (max-width:1068px) {
    .categ-btn{
      visibility: visible;
      opacity: 1;
    }

    .categories{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: var(--primary);
      transform: translateY(100vh);
      position: fixed;
      bottom: -100px;
      right: -10px;
      margin: 0px;
      height: 100vh;
      width: 100%;
      z-index: 2;
      gap: 0px;
    }

    .responsive-categories{
      transform: none;
    }

    .open-categories{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin: 10px;
      font-size: 1.1rem;
      gap: 15px;
    }

    .close-categories{
      font-size: 1.4rem;
      color: white;
      margin: 50px 0px 20px 0px;
    }

    .productsContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .categories h3{
      display: none;
    }

    .open-categories{
      color: var(--black);
      border: 2px solid var(--black);;
      border-radius: 6px;
    }
  
    .open-categories:hover{
      background-color: var(--black);
      color: white;
      transition: 0.15s linear;
    }

    .categories-list li{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 0.975rem;
      color: white;
      margin: 10px 0px 0px 0px;
    }
  
    .categories-list li:hover{
      background-color: white;
      color: var(--primary);
    }

    .products-header-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;
    }

    .products-header-container h2 {
      margin: 30px 0px 0px 40px;
      font-weight: 500;
      font-size: 1rem;
      color: rgb(88, 88, 88);
    }
  }