*{
    margin: 0px;
    padding: 0px;
  }
  
  :root{
    --primary:rgb(33, 131, 242);
    --secondary: rgb(241, 241, 241);
    --itemColor: rgb(255, 255, 255);
    --hover: rgb(0, 94, 202);
    --white:  rgba(240, 240, 240, 0.882);
    --black:rgb(88, 88, 88);
    /* dark theme */
    --veryDarkGray:rgb(34, 40, 49);
    --darkGray:rgb(57, 62, 70);
    --imgFilter:invert(100%) sepia(5%) saturate(613%) hue-rotate(211deg) brightness(120%) contrast(100%);
    --imgHover:invert(100%) sepia(0%) saturate(7454%) hue-rotate(50deg) brightness(112%) contrast(112%);
  }
  
  body{
    background-color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
  }   

  .pageHeader {
    margin: 50px 0px 0px 40px;
    font-size: 1.8rem;
    color: rgb(88, 88, 88);
}
  
  @media (max-width:960px) {
    img{
        width: 25px;
    }

    .pageHeader {
      font-size: 1.2rem;
      margin: 30px 0px 0px 40px;
      color: rgb(88, 88, 88);
  }

  }