*{
    margin: 0px;
    padding: 0px;
  }
  
  :root{
    --primary:#2183f2;
    --secondary: rgb(241, 241, 241);
    --itemColor: rgb(255, 255, 255);
    --hover: rgb(0, 94, 202);
    --white:  rgba(240, 240, 240, 0.882);
    --black:rgb(46, 46, 46);
  }
  
  body{
    background-color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
  }   
  
  @media (max-width:768px) {
    img{
        width: 25px;
    }
  }